@model AmpRageRepo.Models.Path

@{
    ViewData["Title"] = "CreatePath";
}


<div class="container">
    <div class="full-width">

    </div>
    <div class="grid-item">
        <form asp-action="CreatePath">
            <div asp-validation-summary="ModelOnly" class="text-danger" id="first"></div>

            <div class="form-group" style="width:400px">
                <label class="control-label">Start</label>

                <input asp-for="Origin" class="form-control rounded-pill" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>

            <div class="form-group" style="width:400px">
                <label class="control-label">Destination</label>

                <input asp-for="Destination" class="form-control rounded-pill" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group" id="brand" style="width:400px">
                <p class="control-label">Bilmärke:</p>
                <select asp-for="CarBrand" id="CarBrand" class="form-control rounded-pill" style="width:400px">
                    @foreach (var item in Model.AllCarBrands)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group" id="make" style="width:400px">
                <p class="control-label">Bilmodell - (Räckvidd):</p>
                <select asp-for="CarMake" id="CarMake" class="form-control rounded-pill" style="width:400px">
                    @{var banan = Model.AllCars.ToArray(); }
                    @{var listOfBrand = new List<string>();}
                    @for (int i = 0; i < banan.Count(); i++)
                    {
                        var allCarsWithSameBrand = Model.AllCars.Where(x => x.Text == banan[i].Text).ToList();
                        if (!listOfBrand.Contains(banan[i].Text))   
                        {
                            listOfBrand.Add(banan[i].Text);
                            <optgroup label="@banan[i].Text">
                                @for (int a = 0; a < allCarsWithSameBrand.Count(); a++)
                                {
                                    <option value="@allCarsWithSameBrand[a].Value">@allCarsWithSameBrand[a].Value</option>
                                }
                            </optgroup>
                        }
                    }
                </select>
            </div>
            <div class="form-group" style="width:400px">
                <label class="control-label">Nuvarande räckvidd i %</label>
                <input asp-for="CurrentRangeM" class="form-control rounded-pill"/>
                <span asp-validation-for="CurrentRangeM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="control-label">
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </p>
            </div>
        </form>
    </div>
    <div class="grid-item">
        <h1>Välkommen till AmpRage</h1>
        <p>AmpRange är den bästa sidan på marknaden för att på ett så effektivt sätt ta dig från punkt a till b med din fina elbil.</p>
    </div>
</div>



@section scripts{

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBhIgKBChJZ9HwlAS5FdKkMFKuneDc8RjY" type="text/javascript"></script>

    <script>
                $(document).ready(function(){
                  var $optgroups = $('#CarMake > optgroup');
                      $("#make").hide();
  
                  $("#CarBrand").on("change",function(){
                      var selectedVal = this.value;
                      $("#make").show();
                    $('#CarMake').html($optgroups.filter('[label="'+selectedVal+'"]'));
                 });  
                }); 
    </script>

    <script>

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('Origin'));
            new google.maps.places.SearchBox(document.getElementById('Destination'));
        });


    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

